{% extends "core/base.html" %}


{% block content %}

<div class="container">

    <div class="row">

        <div class="'col-md-12">
            <h2> About us </h2>

            <h3>Product</h3>
            <p>
                The purpose of Enigmacast is to assist traders and investors.
            </p>

            <h3>Team</h3>
            <p>
                We @ Enigmacast work towards bringing best experiences to traders and investors.
                We are explore new ideas and options every now and then to do so.

            </p>

        </div>
    </div>
</div>


{% endblock %}