{% extends "core/base.html" %}


{% block content %}

<div class="container">

    <div class="row">

        <div class="'col-md-12">
            <h2> About us </h2>

            <h3>Product</h3>
            <p>
                The purpose of Enigmacast is to assist traders and investors.
            </p>

            <h3>Team</h3>
            <p>
                Bootstrap is maintained by a small team of developers on GitHub. We’re actively looking to grow this
                team and would love to hear from you if you’re excited about CSS at scale, writing and maintaining
                vanilla JavaScript plugins, and improving build tooling processes for frontend code.

            </p>

        </div>
    </div>
</div>


{% endblock %}