

.idea/
.vscode/
*.pyc
env
aes-env
run_local.sh
set_env_var.sh
*.sqlite3
*.sqlite3.*
logs/*.log
staticfiles/*
staticdev/node_modules/*
deploy_*_config.yaml
deploy/aes.nginx.conf
!staticfiles/README.md

