{% extends "core/base.html" %}


{% block content %}
{% verbatim %}

<div class="container" id="assetsVue">

    <div class="row">
        <div class="col-md-12">
            <h1> Assets </h1>
        </div>
        <div class="col-md-12">

            <div class="row bg-dark">
                <div class="col-2" style="padding: 20px; color:white"><b>#</b></div>
                <div class="col-4" style="padding: 20px; color: white;"><b>Asset</b></div>
                <div class="col-3" style="padding: 20px; color:white;"><b>Symbol</b></div>
                <div class="col-3" style="padding: 20px; color:white;"><b>Price</b></div>
            </div>
            <div style="max-height: 500px; overflow-y: auto; padding-top:10px; overflow-x:hidden;">
                <div class="row" v-for="item in assets">
                    <div class="col-2">{{item.recent_cmc_rank}}</div>
                    <div class="col-4"><a :href="'/assets/' + item.id + '/' ">{{item.name}}</a></div>
                    <div class="col-3">{{item.symbol}}</div>
                    <div class="col-3">${{item.latest_price}}</div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var assetsVue = new Vue({
            el: '#assetsVue',
            data: {
                assets: []
            },
            mounted: function () {
                var that = this;
                $.ajax({
                    url: '/api/v1/assets?page_size=100'
                }).done(function (response) {
                    that.assets = response.results;
                }).fail(function (error) {
                    console.log(error);
                })
            }
        });
    });

</script>

{% endverbatim %}

{% endblock %}