{% extends "core/base.html" %}


{% block content %}
{% verbatim %}

<div class="container" id="assetsVue">

    <div class="row">
        <div class="col-md-12">
            <h1> Assets </h1>
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Asset</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Price (USD) </th>
                </tr>
                </thead>
                <tbody class="assetsList">
                <tr v-for="asset in assets">
                    <th scope="row">{{asset.recent_cmc_rank}}</th>
                    <td><a :href="'/assets/' + asset.id + '/' ">{{asset.name}}</a></td>
                    <td>{{asset.symbol}}</td>
                    <td>{{asset.latest_price}}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var assetsVue = new Vue({
            el: '#assetsVue',
            data: {
                assets: []
            },
            mounted: function () {
                var that = this;
                $.ajax({
                    url: '/api/v1/assets?page_size=100'
                }).done(function (response) {
                    that.assets = response.results;
                }).fail(function (error) {
                    console.log(error);
                })
            }
        });
    });

</script>

{% endverbatim %}

{% endblock %}